@charset "utf-8";

/* CSS Document */


/*公共部分*/

.htmleaf-container {
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC);
    display: none;
    z-index: 9999999;
}

.clipArea {
    height: 90%;
}


/*上传图标*/

#file {
    float: left;
    height: 100%;
}

.clipBtn {
    float: right;
    height: 96px;
    line-height: 78px;
    width: 96px;
    background: #18b4ed;
    border: 0;
    outline: none;
    color: #fff;
    font-size: 24px;
    z-index: 999;
    cursor: pointer;
}

.foot-use {
    background: #fff;
    height: 10%;
    width: 100%;
    position: relative;
}

.uploader1 {
    position: absolute;
    width: 50%;
    height: 96px;
    cursor: default;
    height: 100%;
    float: left;
}

.button {
    float: left;
    height: 100%;
    display: inline-block;
    outline: 0 none;
    margin: 0;
    cursor: pointer;
    border: 0;
    width: 96px;
    font-size: 24px;
}

.uploader1 input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border: 0;
    padding: 0;
    margin: 0;
    height: 96px;
    width: 50%;
    cursor: pointer;
    border: solid 1px #ddd;
    opacity: 0;
}

.blue .button {
    color: #fff;
    background: #18b4ed;
    height: 100%;
}

.clipTips {
    font-size: 20px;
    color: #ff0000;
}

.openmodal {
    cursor: pointer;
}
